{% extends "auth-small-page.html" %}

{% block title %}
Retrieve {{ site_name }} user name
{% endblock %}

{% block small_content %}
    <h1>Retrieve user name</h1>

    <p>To retrieve your user name, please provide the email address on
      your account.</p>

    <form id="forgot_username" class="simpleForm" method="post"
          action="{% url forgot_username %}">
      {{ form.as_p }}
      <input class="submit" type="submit" value="Submit" />
    </form>

    {{ block.super }}
{% endblock %}

