<tr class="{{class}} {{dropped|yesno:'droppable,'}} depth{{depth}}">
  <td class="strike">
    {{name}}
    {% if aggregate %}
    ({{aggregate}})
    {% endif %}
  </td>
  <td class="scores">
    <span class="ifAll">{{all.score_string}}</span>
    <span class="ifSliced hidden">{{score_string}}</span>
  </td>
  <td class="scores">
    <span class="ifAll">{{all.points}}</span>
    <span class="ifSliced hidden">{{points}}</span>
  </td>
  <td class="scores">
    <span class="ifAll">{{all.percent|floatformat:0}}%</span>
    <span class="ifSliced hidden">{{percent|floatformat:0}}%</span>
  </td>
  <td><a href="{% url grade_details tag=course.tag id=id %}">details</a></td>
  <td>
    {% if preprocess %}
    <input type="checkbox" class="sliceWidget" />&nbsp;{{preprocess}}
    {% endif %}
  </td>
</tr>
