
<ul>
  {% if message %}
  <li style="color: #a00">{{ message }}</li>
  {% endif %}
  {% if user.is_authenticated %}
  <li>Hello, {{ user.get_full_name|default:user.username }}</li>
  <li><a href="{% url auth_logout %}">log out</a></li>
  {% else %}
  <li><a href="{% url auth_login %}">log in</a></li>
  <li><a href="{% url forgot_username %}">forgot user name</a></li>
  <li><a href="{% url forgot_password %}">forgot password</a></li>
  <li><a href="{% url register %}">register new user</a></li>
  {% endif %}
</ul>
