{% extends "base.html" %}

{% block title %}
{{ site_name }} authentication
{% endblock title %}

{% block content %}
<div class="container_12 clearfix">
  {% if message %}
  <div id="messages" class="grid_3 alpha">
    <p>{{message}}</p>
  </div>
  {% else %}
  <div class="grid_3 alpha">&nbsp;</div>
  {% endif %}
  <a href="{%url auth_login %}" class="bigButton grid_3">
    Log in
  </a>
  <a href="{%url register%}" class="bigButton grid_3">
    Sign up
  </a>
  <div class="grid_3 omega">&nbsp;</div>
</div>

<div class="container_12 clearfix">
  <div class="grid_3 alpha">&nbsp;</div>
  <div class="links grid_9 omega">
    <a href="{% url forgot_username %}">Retrieve my user name</a>
    <a href="{% url forgot_password %}">Reset my password</a>
  </div>
</div>
{% endblock content %}
