/* l3ms.css */

div#header {
    background: #cef;
    padding: 2ex 0 1ex 0;
    border-bottom: 2px solid #8ac;
    margin-bottom: 2ex;
}
div#l3msNav {
    text-align: right;
}
div#logo {
    height: 40px;
    font-size: 20px;
    font-family: serif;
}
div#logo .site {
    color: #555;
}
div#logo .sys {
    color: #9bc;
}
div#messages {
    margin: 2ex 0;
    border-color: #c00;
    border-style: solid;
    border-width: 6px 2px 2px 2px;
    background: url(error.png) no-repeat 2px 10px;
}
div#messages p {
    margin: 8px 6px 1ex 21px;
}
.bigButton {
    border: 2px solid #62925e;
    background: #a1ee9a;
    text-align: center;
    font-size: xx-large;
    padding: 1ex 0;
    margin: 2ex 0;
    text-decoration: none;
}
.bigButton:link, .bigButton:visited {
    color: black
}
.links a {
    display: block;
    text-decoration: none;
    color: #006;
    margin: 0 0 .7ex 0;
    font-size: larger;
}
a:link, a:visited {
    color: #443f65;
    text-decoration: none;
}
#l3msNav a {
    font-weight: bold;
}
#l3msNav > span {
}
#l3msNav > a, #l3msNav > span {
    margin-left: 1em;
}
#l3msNav img.gravatar {
    position: relative;
    bottom: -1ex;
    border: 1px solid #ccc;
    margin: 0 2px;
}
#profile .gravatar {
    margin: 1.4ex 0 4ex 0;
    border: 1px solid #555;
}
#profile h1 {
    margin-top: 2ex;
}
h2 {
    font-size: large;
    margin-bottom: 1ex;
}
h2.break {
    margin-top: 3ex;
}
/* -------------------------------- */
form.simpleForm {
    margin-bottom: 4ex;
}
form.simpleForm > p {
}
form.simpleForm > p > label {
    display: block;
    float: left;
    width: 140px;
    text-align: right;
    margin-right: 10px;
}
form.simpleForm > p > input {
}
form.simpleForm > input {       /*submit*/
    margin-left: 150px;
}
ul.errorlist {
    color: #c00;
    list-style: none;
}
ul.errorlist > li {
    margin: 0;
}
/* -------------------------------- */
.feedback {
    float: right;
    width: 240px;
    padding: 4px 0 0 20px;
}
.feedback.error {
    background: url(error.png) no-repeat 2px 6px;
}
.feedback.okay {
    background: url(accept.png) no-repeat 2px 6px;
}
div.allusers a {
    text-decoration: none;
}
div.allusers .gravatar {
    border: 1px solid #555;
}
div.allusers {
    margin-bottom: 2ex;
}
/* -------------------------------- */
ul.courseListBySemester {
    list-style: none;
}
ul.courseListBySemester a {
    text-decoration: none;
}
ul.courseListBySemester > li {
    margin: 0;
    font-weight: bold;
}
ul.courseListBySemester > li > ul {
    list-style: none;
    font-weight: normal;
}
ul.courseListBySemester > li > ul > li {
    margin-left: 2em;
    text-indent: -2em;
}
div#allCourses .semester {
    font-weight: bold;
    margin-top: 1ex;
}
div#allCourses .course {
    padding-left: 64px;
    text-indent: -48px;
}
div#allCourses .enrolled {
    background: url(bullet_green.png) no-repeat 0px 2px;
}
div#allCourses .auditing {
    background: url(bullet_blue.png) no-repeat 0px 2px;
}
div#allCourses .instructor {
    background: url(bullet_star.png) no-repeat 0px 2px;
}
ul.roster {
    list-style: none;
}
ul.roster > li {
    margin-left: 0;
}
ul.roster img.gravatar {
    border: 1px solid #555;
    position: relative;
    bottom: -10px;
}
/* -------------------------------- */
tr.depth5 > td:first-child { padding-left: 5em;}
tr.depth4 > td:first-child { padding-left: 4em;}
tr.depth3 > td:first-child { padding-left: 3em;}
tr.depth2 > td:first-child { padding-left: 2em;}
tr.depth1 > td:first-child { padding-left: 1em;}

table {
    border-collapse: collapse;
}
table td, table th {
    padding: 2px .3em;
}
td.scores {
    text-align: right;
}
tr.droppable .scores, table#gradeSheet td.dropped {
    color: #aaa;
}
tr.dropped .strike {
    text-decoration: line-through;
    color: #aaa;
}
tr.aggregate {
    font-weight: bold;
}
.hidden {
    display: none;
}
table#gradeSummary input {
    position: relative;
    bottom: -2px;
}
table#gradeSheet th .title {
    font-weight: bold;
}
table#gradeSheet th {
    text-align: right;
}
th.sorted {
    background: #ffc;
}
td .expandTool {
    padding-left: 18px;
    padding-bottom: 18px;
}
td .expandTool.expanded {
    background: url(table_delete.png) no-repeat 0px 0px;
}
td .expandTool.collapsed {
    background: url(table_add.png) no-repeat 0px 0px;
}
table#gradeSheet tfoot td {
    line-height: 18px;
}
table#gradeSheet a:link {
    color: inherit;
}
table#gradeSheet td {
    vertical-align: middle;
}
div.blurb {
    margin-bottom: 3ex;
}
