/* l3ms.css */

div#header {
    background: #cef;
    padding: 2ex 0 1ex 0;
    border-bottom: 2px solid #8ac;
    margin-bottom: 2ex;
}
div#nav {
    text-align: right
}
div#logo {
}
div#messages {
    margin: 2ex 0;
    border-color: #c00;
    border-style: solid;
    border-width: 6px 2px 2px 2px;
    background: url(error.png) no-repeat 2px 10px;
}
div#messages p {
    margin: 8px 6px 1ex 21px;
}
.bigButton {
    border: 2px solid #62925e;
    background: #a1ee9a;
    text-align: center;
    font-size: xx-large;
    padding: 1ex 0;
    margin: 2ex 0;
    text-decoration: none;
}
.bigButton:link, .bigButton:visited {
    color: black
}
.links a {
    display: block;
    text-decoration: none;
    color: #006;
    margin: 0 0 .7ex 0;
    font-size: larger;
}
a:link, a:visited {
    color: #443f65;
    text-decoration: none;
}
#nav a {
    font-weight: bold;
}
#nav > span {
}
#nav > a, #nav > span {
    margin-left: 1em;
}
#nav .gravatar {
    position: relative;
    bottom: -1ex;
    border: 1px inset #8ac;
    margin: 0 2px;
}
#profile .gravatar {
    margin: 1.4ex 0 4ex 0;
    border: 1px solid #555;
}
#profile h1 {
    margin-top: 2ex;
}
h2 {
    font-size: large;
    margin-bottom: 1ex;
}
/* -------------------------------- */
form.simpleForm {
    margin-bottom: 4ex;
}
form.simpleForm > p {
}
form.simpleForm > p > label {
    display: block;
    float: left;
    width: 140px;
    text-align: right;
    margin-right: 10px;
}
form.simpleForm > p > input {
}
form.simpleForm > input {       /*submit*/
    margin-left: 150px;
}
ul.errorlist {
    color: #c00;
    list-style: none;
}
ul.errorlist > li {
    margin: 0;
}
/* -------------------------------- */
.feedback {
    float: right;
    width: 240px;
    padding: 4px 0 0 20px;
}
.feedback.error {
    background: url(error.png) no-repeat 2px 6px;
}
.feedback.okay {
    background: url(accept.png) no-repeat 2px 6px;
}
div.allusers a {
    text-decoration: none;
}
div.allusers .gravatar {
    border: 1px solid #555;
}
div.allusers {
    margin-bottom: 2ex;
}
/* -------------------------------- */
ul.courseListBySemester {
    list-style: none;
}
ul.courseListBySemester a {
    text-decoration: none;
}
ul.courseListBySemester > li {
    margin: 0;
    font-weight: bold;
}
ul.courseListBySemester > li > ul {
    list-style: none;
    font-weight: normal;
}
ul.courseListBySemester > li > ul > li {
    margin-left: 2em;
    text-indent: -2em;
}
div#allCourses .semester {
    font-weight: bold;
    margin-top: 1ex;
}
div#allCourses .course {
    padding-left: 64px;
    text-indent: -48px;
}
div#allCourses .enrolled {
    background: url(bullet_blue.png) no-repeat 0px 2px;
}
