<h1>Login box</h1>

<form method="post" action="{% url login %}">
  {{ auth_form.as_p }}
  <input type="hidden" name="next" value="{{ next|default:'' }}" />
  <input type="submit" value="Submit" />
</form>

<h1>Retrieve username</h1>

<form method="post" action="{% url forgot_username %}">
  {{ retrieve_form.as_p }}
  <input type="submit" value="Submit" />
</form>

<h1>Reset password</h1>

<form method="post" action="{% url forgot_password %}">
  {{ reset_form.as_p }}
  <input type="submit" value="Submit" />
</form>


<h1>Register new user</h1>

<form method="post" action="{% url register %}">
  {{ new_form.as_p }}
  <input type="submit" value="Submit" />
</form>

