{% load gravatar %}

{% if course %}
<a href="{% url one_course tag=course.tag %}">
  {{course.code}} • {{course.semester.name}}
</a>
{% endif %}

{% if message %}
<span><i>{{message}}</i></span>
{% endif %}

{% if user.is_staff %}
<a href="{% url all_users %}">Users</a>
<a href="{% url admin:index %}">Admin</a>
{% endif %}

{% if user.is_authenticated %}
<span>Hello,
  <a href="{% url profile username=user.username %}">
    {{user.username}}
    <img class="gravatar" src="{{user|gravatar:24}}"
         width="24" height="24" />
  </a>
  <a href="{% url auth_logout %}">Log out</a>
</span>
{% else %}
<a href="{% url auth_login %}">Log in or sign up</a>
{% endif %}
