{% extends "layout/base.html" %}
{% load gravatar %}
{% load enrollment %}
{% block title %}
{{course.code}} {{course.semester.name}} | {{site_name}}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
  $("div#messages").fadeOut(3000)
})
</script>
{% endblock %}

{% block content %}
<div id="coursePage">
  <div class="container_12 clearfix">
    <div class="grid_12 alpha omega">
      <h1>{{course.code}}: {{course.name}} • {{course.semester.name}}</h1>
    </div>
  </div>

  <div class="container_12 clearfix">
    <div class="grid_2 alpha">
      <h2>Roster</h2>
      {{ course.get_instructors|roster_list:"instructorList" }}
      {{ course.get_students|roster_list:"studentList" }}
    </div>
    <div class="grid_7 alpha">
      <h2>Content</h2>
      <div class="links">
        {% for l in course.courselink_set.all %}
        <a href="{{l.url}}">
          {{ l.get_kind_display }}  → 
          {{ l.get_abbrev_url }}
        {% endfor %}
        </a>
      </div>
      {% if summary %}
      <h2 class="break">Assessment</h2>
      <p>
      {{summary|safe}}
      </p>
      {% endif %}
    </div>
    <div class="grid_3 alpha">
      <h2>Preferences</h2>

      <form method="post" action="{{action}}">
        {{form.as_p}}
        <input type="submit" value="Save" />
      </form>

      {% if message %}
      <div id="messages">
        <p>{{ message }}</p>
      </div>
      {% endif %}

  </div>
</div>
{% endblock %}
