{% load gravatar %}
<html>
  <head>
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block style %}
    <link rel="stylesheet" type="text/css" href="/l3media/960/reset.css" />
    <link rel="stylesheet" type="text/css" href="/l3media/960/text.css" />
    <link rel="stylesheet" type="text/css" href="/l3media/l3ms.css" />
    <link rel="stylesheet" type="text/css" href="/l3media/960/960.css" />
    {% endblock style %}
    {% block scripts %}
    <script type="text/javascript" src="/l3media/jquery.min.js"></script>
    {% endblock scripts %}
  </head>
  <body>
    <div id="header">
      <div class="container_12 clearfix">
        <div id="logo" class="grid_5 alpha">
          {{ site_name }}
        </div>
        <div id="nav" class="grid_7 omega">
          {% block nav %}
          <a href="">Courses</a>
          {% endblock nav %}
          {% if user.is_staff %}
          <a href="{% url all_users %}">Users</a>
          <a href="{% url admin:index %}">Admin</a>
          {% endif %}
          <a href="">About</a>
          {% if user.is_authenticated %}
          <span>Hello,
            <a href="{% url profile username=user.username %}">
              {{user.username}}
              <img class="gravatar" src="{{user|gravatar:24}}"
                   width="24" height="24" />
            </a>
            <a href="{% url auth_logout %}">Log out</a>
          </span>
          {% endif %}
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
